<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
        <add name="ConexionOld" connectionString="Data Source=COOX;Persist Security Info=true;User Id=PRAXLOGIN;Password=PRAXLOGIN;Unicode=true"
            providerName="System.Data.OracleClient" />
	    <add name="Conexion" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=RACCOOX12.SA.PRAXAIR.COM)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=COOX)));User Id=FECO_USR;Password=Praxair.2018;Min Pool Size=0;Max Pool Size=15;Connection Lifetime=120;Connection Timeout=60; " providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>