<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="Conexion" connectionString="Data Source=COOX;Persist Security Info=true;User Id=PRAXLOGIN;Password=PRAXLOGIN;Unicode=true"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>